/bootstrap/server/target/
/bootstrap/common/target/
/bootstrap/client/target/
/system/target/
/simulation/target/
/common/target/
/manager/target/
/network/target/
/bootstrap/caracal-client/target/
/bootstrap/gserver/target/
/bootstrap/cserver/target/